.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f9f5ef;
  font-weight: bold;
  text-transform: uppercase;
}

.table td img {
  max-width: 100%;
  height: auto;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f5ef;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0rem;
}

.dropzone {
  border: 2px dashed #888;
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.successMessage {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  color: green;
}

.tableContainer {
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .table {
    font-size: 14px;
  }
}

@media only screen and (max-width: 576px) {
  .table {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .table th,
  .table td {
    padding: 6px;
  }
}
